# Nike US Sales Analysis

![Nike Header](../visuals/Image_header.jpg)

## 1. Business Problem & Objective

Nikeâ€™s overall sales performance appears strong, but regional and product-level trends may vary significantly. 
Understanding these differences is important for identifying growth opportunities, improving inventory planning, 
and guiding marketing decisions.

The objective of this analysis is to explore Nike US sales data to:
- Identify regional sales performance differences
- Examine product category contributions to total sales
- Detect patterns that may explain growth or decline across regions
- Provide data-driven recommendations based on observed trends

This project focuses on exploratory data analysis (EDA) and insight generation using sales transaction data.

## 2. Dataset Overview

- Rows
- Columns
- Time range

In [ ]:
import pandas as pd

df = pd.read_excel("../data/Nike US Sales Datasets.xlsx")
df.head()

print("test")

,Brand,Retailer ID,Invoice Date,Region,State,City,Units Sold,Operating Profit,Operating Margin,Sales Method,Product Name,Product ID
0,NIKE,1185732,2020-01-01,Northeast,New York,New York,1200,300000.0,0.50,In-store,Nike Air Force 1 '07 Essential,CJ1646-600
1,NIKE,1185732,2020-01-02,Northeast,New York,New York,1000,150000.0,0.30,In-store,Nike Air Force 1 '07,CT4328-101
2,NIKE,1185732,2020-01-03,Northeast,New York,New York,1000,140000.0,0.35,In-store,Nike Air Force 1 Sage Low LX,CI3482-200
3,NIKE,1185732,2020-01-04,Northeast,New York,New York,850,133875.0,0.35,In-store,Nike Air Max Dia SE,CD0479-200
4,NIKE,1185732,2020-01-05,Northeast,New York,New York,900,162000.0,0.30,In-store,Nike Air Max Verona,CZ6156-101

## 3. Data Quality Check

- Missing values
- Duplicates
- Inconsistencies

## 4. Data Cleaning

## 5. Exploratory Data Analysis

### 5.1 Sales by Region

### 5.2 Product Mix Comparison

## 6. Key Insights

## 7. Recommendations

## 8. Limitations & Next Steps